In [3]:
import pandas as pd

In [5]:
t=pd.read_csv("dataset/eng_min/train.csv")

In [7]:
t.head()

,id,eng,min
0,25500,Enjoy 0% instalment for up to 12 months when o...,Nikmati cicilan 0% sampai 12 bulan untuak pama...
1,25501,The cakes give me massive nostalgia. Everythin...,Kue-kue nan disajian mambuek awak takana masa ...
2,25502,Mom once worked for grab indonesia.,Ibu pernah bakarajo di grab indonesia
3,25503,"I love having lunch here the most, thanks to t...",Paliang suko bana makan siang di siko ayam jo ...
4,25504,The DAMRI Bus service is really good,Palayanan bus DAMRI sangaik elok